<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment2csci412">

    <!-- Camera Permission -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment2CSCI412">

        <!-- Main Activity Declaration -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Second Activity Declaration -->
        <activity android:name=".SecondActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.assignment2csci412.ACTION_VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Third Activity Declaration for Image Capture -->
        <activity android:name=".ImageCaptureActivity"
            android:exported="true">
        </activity>

    </application>
</manifest>
